#spinner_con {
	overflow: hidden;
	height: 73px;
	width: 75px;
	display: none;
	margin-top: 5px;
}

#spinner_con img {
	height: 75px;
	width: 75px;
}

.search_label {
	margin-left: 25px;
}

#clear {
	display: none;
}

.ar-tweet-con {
	margin-left: 25px;
}